<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fr.vidaljulien.jekinshelper</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>08D79BCA-0FDC-45D1-ABB9-9434D27A70C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78BAC7F5-9615-4B21-A902-6E1C1E221458</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3EFE5191-92D0-46A1-B89E-CAC5557F08AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A7BFC9D-C063-4AA1-AE70-CAB4D7F0D3FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5A7BFC9D-C063-4AA1-AE70-CAB4D7F0D3FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F50CC8C5-932D-4024-A1BA-DB4C8638B20C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7E4808B-A2E8-42E5-B3F8-B6B580BB0CEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Julien vidal</string>
	<key>description</key>
	<string>Bundle of tools for Jenkins using it's API</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Jenkins Helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>jenkins status</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gather Job Statuses...</string>
				<key>script</key>
				<string>$query = "{query}";
$context = "status";
$action = "status";
require 'src/main.php';</string>
				<key>subtext</key>
				<string>Gather Jenkins Job Statuses</string>
				<key>title</key>
				<string>Gather Jenkins Job Statuses</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>63F60794-BB56-4415-9372-BAF974C3A7E1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7E4808B-A2E8-42E5-B3F8-B6B580BB0CEE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>jenkins info</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gather Information Options</string>
				<key>script</key>
				<string>$query = "{query}";
$context = "info";
$action = "input";
require 'src/main.php';</string>
				<key>title</key>
				<string>Enter Jenkins Setup Information</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3EFE5191-92D0-46A1-B89E-CAC5557F08AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$query = "{query}";
$context = "info";
$action = "output";
require 'src/main.php';</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5A7BFC9D-C063-4AA1-AE70-CAB4D7F0D3FD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Jenkins Info set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F50CC8C5-932D-4024-A1BA-DB4C8638B20C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>title</key>
				<string>Test done !</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>78BAC7F5-9615-4B21-A902-6E1C1E221458</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>jenkins test</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Test in progress</string>
				<key>script</key>
				<string>$query = "{query}";
$context = "info";
$action = "input";
require 'src/main.php';</string>
				<key>title</key>
				<string>Make your test here dude !</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>08D79BCA-0FDC-45D1-ABB9-9434D27A70C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08D79BCA-0FDC-45D1-ABB9-9434D27A70C3</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>3EFE5191-92D0-46A1-B89E-CAC5557F08AC</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5A7BFC9D-C063-4AA1-AE70-CAB4D7F0D3FD</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>63F60794-BB56-4415-9372-BAF974C3A7E1</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>78BAC7F5-9615-4B21-A902-6E1C1E221458</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>C7E4808B-A2E8-42E5-B3F8-B6B580BB0CEE</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F50CC8C5-932D-4024-A1BA-DB4C8638B20C</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
